body {
	background-color: maroon;
	color: olive;
}

.box {
	background-color: olive;
	color: maroon;
	border: 5px outset olive;
	margin-bottom: 3px;
	margin-top: 3px;
}

.inner-box, td {
	background-color: maroon;
	color: olive;
	border: 5px inset maroon;
}

.inner-button {
	background-color: maroon;
	color: olive;
	border: 0px;
}

table {
	table-layout: fixed;
	width: 100%;
}

.card-selector {
	width: 45%;
	height: 150px;
	overflow: auto;
}

.card-bay {
	float: left;
	height: 150px;
	width: 50%;
}
/* consider khaki and wheat */
h1 {
	border: 5px shadow olive;
}

h1, h4 {
	text-align: center;
}
