body {
	background-color: maroon;
	color: olive;
}

.box {
	background-color: olive;
	color: maroon;
	border: 5px outset olive;
	margin-bottom: 3px;
	margin-top: 3px;
}

.inside-box, td {
	background-color: maroon;
	color: olive;
	border: 5px inset maroon;
}

.inside-button {
	background-color: maroon;
	color: olive;
	border: 0px;
}

table {
	table-layout: fixed;
}

.card-select {
	width: 45%;
	height: 150px;
	overflow: auto;
}

.card-bay {
	float: left;
	height: 150px;
	width: 50%;
}
