
/*
 * The spacing is a nightmare. I apologise if you have OCD.
 */


body, td, .inner-box{
	background-color: hsl(50, 100%, 10%);
	color: hsl(50, 100%, 40%);
}

td, .inner-box {
	border: 7px inset hsl(50, 100%, 10%);
}

.box {
	background-color: hsl(50, 100%, 40%);
	color: hsl(50, 100%, 10%);
	border: 10px outset hsl(50, 100%, 40%);
	margin: 1%;
}

.inner-button {
	background-color: inherit;
	color: inherit;
	border: 0px;
}

.card-row {
	height: 150px;
	overflow: auto;
}

textarea {
	width: 90%;
	resize: none;
}

table {
	table-layout: fixed;
	width: 100%;
}
