
/*
 * The spacing is a nightmare. I apologise if you have OCD.
 */


body {
	background-color: hsl(130, 100%, 10%);
	color: hsl(130, 100%, 40%);
}

.box {
	background-color: hsl(130, 100%, 40%);
	color: hsl(130, 100%, 10%);
	border: 10px outset hsl(130, 100%, 40%);
	margin: 1%;
}

.inner-box, td {
	background-color: hsl(130, 100%, 10%);
	color: hsl(130, 100%, 40%);
	border: 5px inset hsl(130, 100%, 10%);
}

.inner-button {
	background-color: inherit;
	color: inherit;
	border: 0px;
}

.card-row {
	width: 75%;
	height: 150px;
	overflow: auto;
}

textarea {
	resize: none;
}

table {
	table-layout: fixed;
	width: 100%;
}
/* consider khaki and wheat (for white) */
