body {
	background-color: maroon;
	color: olive;
}

.box {
	background-color: olive;
	color: maroon;
	border: 5px outset olive;
	margin-bottom: 3px;
	margin-top: 3px;
	overflow: auto;
	width: 100%;
}

.inside-box, td {
	background-color: maroon;
	color: olive;
	border: 5px inset maroon;
}

table {
	table-layout: fixed;
}

.cardbay {
	width: 15%;
	float: right;
	height: 150px;
	overflow-y: auto;
}

.qa {
	float: left;
	height: 150px;
	width: 80%;
}
